#dashboardWeeklyUserBarChartContainer {
    #dashboardWeeklyUserBarChart {
        max-height: 320px !important;
    }
}

#incomeChartCanvas {
    #dashboardIncomeChart {
        max-height: 320px !important;
    }
}

.ql-editor {
    font-family: Poppins, Helvetica, sans-serif !important;
}

.ql-editor.ql-blank::before {
    font-style: unset !important;
}
